<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    
    <h1>{{hall_name}}</h1>
    <h2>Overall Rating: {{rating}}</h2>

  <div>
    {% for h in hours %}
    <div>Open: {{h[0]}}</div>
    <div>Close: {{h[1]}}</div>
    {% endfor %}
    {% for l in location %}
    <div>Hall Name: {{l[0]}}</div> 
    <div>Floor Number: {{l[1]}}</div>
    {% endfor %}
  </div>

  <h2>Reviews</h2>
  <div>
    {% for r in photo %}
    <div>User: {{r[0]}}</div>
    <div>Overall: {{r[1]}}</div>
    <div>Food: {{r[2]}}</div>
    <div>Vibe: {{r[3]}}</div>
    <div>Staff: {{r[4]}}</div>
    <div>Comments: {{r[5]}}</div>
    <img src="{{r[6]}}" width="300" height="300"/>
    <br>
    </br>
    {% endfor %}
    {% for r in review %}
    <div>User: {{r[0]}}</div>
    <div>Overall: {{r[1]}}</div>
    <div>Comments: {{r[2]}}</div>
    <div>Food: {{r[3]}}</div>
    <div>Vibe: {{r[4]}}</div>
    <div>Staff: {{r[5]}}</div>
    <br></br>
    {% endfor %}
  </div>
  <p><a href="{{url_for('review', name = hall_name)}}">Leave a review</a></p>
  
  <p><a href="/">Go back home</a></p>


</body>


</html>
