<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    {% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Review {{hall_name}}{% endblock %}</h1>
{% endblock %}


{% block content %}

<h2>select file to upload</h2>
<p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</p>

{% if filename %}
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}" width="500" height="600">
    </div>
{% endif %}





<form method="POST" action="{{url_for('review', name = hall_name)}}" enctype="multipart/form-data">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <br>
    <label for="food">Food (1-10)</label>
    <input type="number" name="food" required> 
    <br>
    <label for="vibe">Vibe (1-10)</label>
    <input type="number" name="vibe" required>
    <br>
    <label for="staff">Staff (1-10)</label>
    <input type="number" name="staff" required>
    <br>
    <label for="comment">Comments</label>
    <input type="text" name="comment" required>
    <br>
    <!--<input type="file" name="file" class="form-control" autocomplete="off">-->
    <label for="url">Image URL</label>
    <input type="url" name="url">
    <br>
    <input type="submit" value="Submit">


  </form>

  {% endblock %}
  <p><a href="home page">Go Home</a></p>

</body>


</html>
