<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <h1>User: {{username}}</h1>

    <h2> REVIEWS </h2>
    <div> 
        {% for r in review %}
        <div>Dining Hall: {{r[0]}}</div>
        <div>Overall: {{r[1]}}</div>
        <div>Food: {{r[2]}}</div>
        <div>Vibe: {{r[3]}}</div>
        <div>Staff: {{r[4]}}</div>
        <div>Comments: {{r[5]}}</div>
        <br></br>
        </div>
        {% endfor %}
        {% for p in pics %}
        <div>Dining Hall: {{p[0]}}</div>
        <div>Overall: {{p[1]}}</div>
        <div>Food: {{p[2]}}</div>
        <div>Vibe: {{p[3]}}</div>
        <div>Staff: {{p[4]}}</div>
        <div>Comments: {{p[5]}}</div>
        <img src="{{p[6]}}" width="300" height="300"/>   
        <br></br>
        {% endfor  %}
    </div>
    <div>
    <h2>FRIENDS</h2>
    <h3>{{username}} is friends with:</h3>
    {% for f in friends %}
    <li>{{f}}</li>
    {% endfor %}
    </div>
    <p><a href="/">Go back home</a></p>
</body>
